.art_container {
  width: 1440px;
  height: 100vh;
  padding: 10px;
  margin: 0 auto;
  background-color: #cecece;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1440px) {
  .art_container {
    width: 100% !important;
  }
}
